<div class="row">
  <div class="board-container col-9">

    <h1 class="game-name"><%= @game.name %></h1>
    <div class="turn-indicator">
      <h2><span class="badge badge-info"><%= @game.player_turn_color.capitalize %> to move</span></h2>
    </div>
    <div class="btn-group" id="pawnPromote"></div>

    <div class='board'>
      <%# establishes the vertical dimension of the board %>
      <% 8.downto(1) do |y| %>
        <div class='row'>
        <%# establishes the horizontal dimension of the board %>
        <% 1.upto(8) do |x| %>
          <%# on odd numbered rows, alternate between white and black, starting with white %>
          <% if y % 2 == 1 %>
            <% if x % 2 == 0 %>
              <% cell_color = "white" %>
            <% else %>
              <% cell_color = "grey" %>
            <% end %>
          <% else %>
            <%# on even numbered rows, alternate between white and black, starting with black %>
            <% if x % 2 == 0 %>
              <% cell_color = "grey" %>
            <% else %>
              <% cell_color = "white" %>
            <% end %>
          <% end %>

          <% piece = @game.pieces.find_by(x: x, y: y) %>
            <% if piece.present? %>
            <%# if piece present at x-y, create: cell color/id div, div link and piece image %>
              <div class=<%= "#{cell_color}" %> id=<%= "#{x}-#{y}" %> data-x=<%= "#{x}" %> data-y=<%= "#{y}" %> >
                <div class="pieces" data-type=<%= "#{piece.type}" %> data-color=<%= "#{piece.color}" %> data-update-url=<%= "#{game_piece_path(@game, piece)}" %> >
                  <% piece_color = piece.color.downcase %>
                  <% piece_type = piece.type.downcase %>
                  <% pieceX = piece.x %>
                  <% pieceY = piece.y %>
                  <%= image_tag("#{piece_color}_#{piece_type}.png", height: '90', width: '90') %>
                </div>
              </div>
            <% else %>
            <%# if piece not present at x-y, create: cell color/id div and div link %>
              <div class=<%= "#{cell_color}" %> id=<%= "#{x}-#{y}" %> data-x=<%= "#{x}" %> data-y=<%= "#{y}" %> ></div>
            <% end %>

        <% end %>
        </div>
      <% end %>
    </div>
    </div>

    <div class="right-console col-3">
    <div class="player-console">
      <h4>Black Player's Console</h4>
      <div class="captured-pieces">
        <% @pieces_captured_by_black.reverse.each do |captured_piece| %>
          <%= image_tag("#{captured_piece.color.downcase}_#{captured_piece.type.downcase}.png", height: '45', width: '45') %>
        <% end %>
      </div>
      <div class="black-messages">
        <div>
          <% if @black_king.can_castle?(7, 8) || @black_king.can_castle?(3, 8) %>
            <h4><span class="badge badge-success">Black can castle</span></h4>
          <% end %>
        </div>
        <div>
          <% if @black_king.check? %>
            <h4><span class="badge badge-warning">Black king is in check</span></h4>
          <% end %>
        </div>
        <div>
          <% if @game.checkmate?('black') %>
          <h4><span class="badge badge-danger">White says to black king: <br />"Checkmate, mate!"</span></h4>
          <% end %>
        </div>
      </div>
      <div class="btn btn-secondary">
        <%= link_to "Black: Forfeit Game", active_game_path(@game, user_id: @game.black_player_id), method: :patch %>
      </div>
    </div>

    <div class="player-console">
      <h4>White Player's Console</h4>
      <div class="captured-pieces">
        <% @pieces_captured_by_white.reverse.each do |captured_piece| %>
          <%= image_tag("#{captured_piece.color.downcase}_#{captured_piece.type.downcase}.png", height: '45', width: '45') %>
        <% end %>
      </div>
      <div class="white-messages">
        <div>
          <% if @white_king.can_castle?(7, 1) || @white_king.can_castle?(3, 1) %>
            <h4><span class="badge badge-success">White can castle</span></h4>
          <% end %>
        </div>
        <div>
          <% if @white_king.check? %>
            <h4><span class="badge badge-warning">White king is in check</span></h4>
          <% end %>
        </div>
        <div>
          <% if @game.checkmate?('white') %>
            <h4><span class="badge badge-danger">Black says to white king: <br />"Checkmate, mate!"</span></h4>
          <% end %>
        </div>
      </div>
      <div class="btn btn-secondary">
        <%= link_to "White: Forfeit Game", active_game_path(@game, user_id: @game.white_player_id), method: :patch %>
      </div>
      <br />
    </div>

  </div>

</div>
